body {
    background-image: url(./img/background.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(226, 227, 228);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    margin: auto;
    text-align: center;
}

img {
    max-height: 300px;
    min-width: auto;
    max-width: 100vw;
}

header, figure, footer, section {
    min-width: 0;
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

footer {
    margin-top: auto;
}

button {
    height: 3em;
    background-color: rgb(10, 33, 56);
    color: aliceblue;
    border-color: rgb(221, 204, 51);
    border-radius: 50%;
    margin: 0.5em;
    transition: background-color 0.22s, ;
}

button:hover {
    background-color:rgb(11, 38, 63);
}

a,
a:visited {
    text-decoration: none;
    color:rgb(226, 227, 228);
}

.starButtons {
    display: flex;
    flex-direction: column;
}

#imgSource, #sourceURL {
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

#starInfo {
    padding: 1em;
}

@media(min-width: 768px) {
    body {
        font-size: 1.5em;
    }

    button {
        width: 7em;
        height: 7em;
    }
    .starButtons {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media(min-width: 1024px) {
    #imgSource {
        max-width: 67%;
    }

    #starInfo {
        max-width: 67%;
    }
}